{{ form_start(form, {'attr': {'novalidate':  true}}) }}
<div class="mb-4">
    {{ form_label(form.date) }}
    {{ form_widget(form.date) }}
    {{ form_errors(form.date) }}
</div>
<div class="mb-4">
    {{ form_label(form.place) }}
    {{ form_widget(form.place) }}
    {{ form_errors(form.place) }}
</div>
<div class="mb-4">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>
<div class="mb-4">
    {{ form_label(form.picture) }}
    {{ form_widget(form.picture) }}
    {{ form_errors(form.picture) }}
</div>

<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
