{{ form_start(form, {'attr': {'novalidate':  true}}) }}
<div class="row mb-3 justify-content-center">
    <div class="col-12 col-md-10 text-brown mb-4">
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col-12 col-md-10 text-brown mb-4">
        {{ form_label(form.place) }}
        {{ form_widget(form.place) }}
        {{ form_errors(form.place) }}
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col-12 col-md-10 text-brown mb-4">
        {{ form_label(form.picture) }}
        {{ form_widget(form.picture) }}
        {{ form_errors(form.picture) }}
    </div>
</div>
<div class="row mb-3 justify-content-center">
    <div class="col-12 col-md-10 text-brown mb-4">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>
</div>

<div class="text-center m-2">
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
