<header>

    <nav
        class="navbar navbar-expand-lg shadow-sm position-fixed w-100 z-3 pt-2">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{{ path('home') }}">
                <img class="logo" src="{{ asset('assets/img/logo/logo.webp') }}" alt="logo cœur à Quatre Pattes"/></a>
                <span>Cœur à Quatre Pattes</span>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle main navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse justify-content-end"
                id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item me-3">
                        <a class="nav-link" href="{{ path('donation') }}">Donner</a> 
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" href="{{ path('adoption') }}">Adopter</a> 
                    </li>

                    <li class="nav-item me-3">
                        <a class="nav-link" href="{{ path('contribution') }}">Participer</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('event') }}">Evénements</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>