{{ form_start(form, {'attr': {'novalidate': true}}) }}
<!-- Pour ajout -->
{% if form.name is defined %}
<div class="mb-4">
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>
{% endif %} {% if form.type is defined %}
<div class="mb-4">
    {{ form_label(form.type) }}
    {{ form_widget(form.type) }}
    {{ form_errors(form.type) }}
</div>
{% endif %}{% if form.race is defined %}
<div class="mb-4">
    {{ form_label(form.race) }}
    {{ form_widget(form.race) }}
    {{ form_errors(form.race) }}
</div>
{% endif %}{% if form.gender is defined %}
<div class="mb-4">
    {{ form_label(form.gender) }}
    {{ form_widget(form.gender) }}
    {{ form_errors(form.gender) }}
</div>
{% endif %}{% if form.birthday is defined %}
<div class="mb-4">
    {{ form_label(form.birthday) }}
    {{ form_widget(form.birthday) }}
    {{ form_errors(form.birthday) }}
</div>
{% endif %}{% if form.arrivalDate is defined %}
<div class="mb-4">
    {{ form_label(form.arrivalDate) }}
    {{ form_widget(form.arrivalDate) }}
    {{ form_errors(form.arrivalDate) }}
</div>
{% endif %}
<!-- Pour modification -->
{% if form.vaccinated is defined %}
<div class="mb-4">
    {{ form_label(form.vaccinated) }}
    {{ form_widget(form.vaccinated) }}
    {{ form_errors(form.vaccinated) }}
</div>
{% endif %} {% if form.sterilized is defined %}
<div class="mb-4">
    {{ form_label(form.sterilized) }}
    {{ form_widget(form.sterilized) }}
    {{ form_errors(form.sterilized) }}
</div>
{% endif %}{% if form.chipped is defined %}
<div class="mb-4">
    {{ form_label(form.chipped) }}
    {{ form_widget(form.chipped) }}
    {{ form_errors(form.chipped) }}
</div>
{% endif %}{% if form.compatibleKid is defined %}
<div class="mb-4">
    {{ form_label(form.compatibleKid) }}
    {{ form_widget(form.compatibleKid) }}
    {{ form_errors(form.compatibleKid) }}
</div>
{% endif %}{% if form.compatibleCat is defined %}
<div class="mb-4">
    {{ form_label(form.compatibleCat) }}
    {{ form_widget(form.compatibleCat) }}
    {{ form_errors(form.compatibleCat) }}
</div>
{% endif %}{% if form.compatibleDog is defined %}
<div class="mb-4">
    {{ form_label(form.compatibleDog) }}
    {{ form_widget(form.compatibleDog) }}
    {{ form_errors(form.compatibleDog) }}
</div>
{% endif %}
<!-- Champs communs -->
<div class="mb-4">
    {{ form_label(form.picture) }}
    {{ form_widget(form.picture) }}
    {{ form_errors(form.picture) }}
</div>

<div class="mb-4">
    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<button class="btn w-100">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
