{% extends 'base.html.twig' %} {% block title %}Espace utilisateur - Animaux{%
endblock %} {% block body %}
<main class="pt-5">
    <section id="animal-page" class="container-fluid py-5">
        <div class="container">
            <h1 class="text-center mb-5">Gestion des animaux</h1>

            <div class="text-center mb-5">
                <a class="btn btn-large" href="{{ path('app_animal_new') }}"
                    >Ajouter un animal</a
                >
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Filtre -->
                    <div class="filter card shadow-sm border-0 p-4 mb-5">
                        <h5 class="text-center mb-4">Filtrer les animaux</h5>

                        {{ form_start(searchForm, { method: "get" }) }}
                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                {{ form_row(searchForm.adoptionStatus) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(searchForm.arrivalDate) }}
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-md-4">
                                {{ form_row(searchForm.type) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(searchForm.race) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(searchForm.gender) }}
                            </div>
                        </div>

                        <div class="row g-3 mb-3">
                            <div class="col-md-6">
                                {{ form_row(searchForm.vaccinated) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(searchForm.sterilized) }}
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn">Rechercher</button>
                        </div>

                        {{ form_end(searchForm) }}
                    </div>

                    <!-- Résultats -->
                    <div class="table-responsive shadow-sm border rounded">
                        <table class="table table-hover align-middle mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Genre</th>
                                    <th scope="col">Statut</th>
                                    <th scope="col" class="text-center">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for animal in animals %}
                                <tr>
                                    <td>{{ animal.id }}</td>
                                    <td>{{ animal.name }}</td>
                                    <td>{{ animal.type.value }}</td>
                                    <td>{{ animal.gender.value }}</td>
                                    <td>{{ animal.status.value }}</td>
                                    <td class="text-center">
                                        <a
                                            class="btn btn-sm"
                                            href="{{
                                                path('app_animal_show', {
                                                    id: animal.id
                                                })
                                            }}"
                                            >Voir</a
                                        >
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td
                                        colspan="6"
                                        class="text-center text-muted py-4"
                                    >
                                        Aucun animal
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
