{% extends 'base.html.twig' %} {% block title %}Animal - Informations{% endblock
%} {% block body %}

<main class="pt-5">
    <section
        id="animal-page"
        class="container-fluid py-5 d-flex justify-content-center align-items-center"
        style="min-height: 70vh"
    >
        <div class="container">
            <h1 class="text-center mb-4">Informations animal</h1>

            <div class="mx-auto" style="max-width: 700px">
                <div class="card shadow-sm border-0 mb-4">
                    <div class="card-body">
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Id</strong>
                            <span>{{ animal.id }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Nom</strong>
                            <span>{{ animal.name }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Description</strong>
                            <span>{{ animal.description }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Type</strong>
                            <span>{{ animal.type.value }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Race</strong>
                            <span>{{ animal.race.value }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Genre</strong>
                            <span>{{ animal.gender.value }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Statut</strong>
                            <span>{{ animal.status.value }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Vacciné(e)</strong>
                            <span>{{ animal.vaccinated ? "Oui" : "Non" }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Sterilisé(e)</strong>
                            <span>{{ animal.sterilized ? "Oui" : "Non" }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Pucé(e)</strong>
                            <span>{{ animal.chipped ? "Oui" : "Non" }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Compatible enfant</strong>
                            <span>{{
                                animal.compatibleKid ? "Oui" : "Non"
                            }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Compatible chat</strong>
                            <span>{{
                                animal.compatibleCat ? "Oui" : "Non"
                            }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Compatible chien</strong>
                            <span>{{
                                animal.compatibleDog ? "Oui" : "Non"
                            }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Date de naissance</strong>
                            <span
                                >{{ animal.birthday ? animal.birthday|date('d/m/Y') : '' }}</span
                            >
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Date d'arrivée</strong>
                            <span
                                >{{ animal.arrivalDate ? animal.arrivalDate|date('d/m/Y') : '' }}</span
                            >
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Date de Création</strong>
                            <span
                                >{{ animal.createdAt ? animal.createdAt|date('d/m/Y H:i:s') : '' }}</span
                            >
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Par</strong>
                            <span>{{ animal.createdBy.email }}</span>
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Date de modification</strong>
                            <span
                                >{{animal.updatedAt ? animal.updatedAt|date('d/m/Y H:i:s') : '' }}</span
                            >
                        </div>
                        <div
                            class="d-flex justify-content-between py-2 border-bottom"
                        >
                            <strong>Par</strong>
                            <span>{{
                                animal.updatedBy ? animal.updatedBy.email : ""
                            }}</span>
                        </div>
                    </div>
                </div>

                {% if animal.status.value in ['En soin', 'A adopter'] %}
                <div
                    class="d-flex flex-column flex-sm-row gap-5 justify-content-center mb-4"
                >
                    <a
                        class="btn"
                        href="{{ path('app_animal_edit', { id: animal.id }) }}"
                        >Modifier</a
                    >
                    {{ include("animal/_delete_form.html.twig") }}
                </div>
                {% endif%} {% if animal.status.value == 'A adopter'%}
                <div
                    class="d-flex flex-column flex-sm-row gap-5 justify-content-center mb-4"
                >
                    {{ include("animal/_adopted_form.html.twig") }}
                </div>
                {% endif%}
            </div>
            <div class="mx-auto">
                <div
                    class="d-flex flex-column flex-sm-row justify-content-center mb-4"
                >
                    <a class="btn" href="{{ path('app_animal_index') }}"
                        >Revenir aux animaux</a
                    >
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
