{{ form_start(form, {'attr': {'novalidate':  true}}) }}

<div class="mb-4">
    {{ form_label(form.password) }}
    {{ form_widget(form.password) }}
    {{ form_errors(form.password) }}
</div>

<button class="btn btn-success">
    {{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}
